* {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  /* position: relative;
  min-height: 100vh; */
}

.header h1 {
  display: inline-block;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  color: whitesmoke;
  background-color: rgb(34, 84, 219);
}

.nav a {
  text-decoration: none;
  font-size: 18px;
  color: whitesmoke;
}

.itemImg {
  width: 600px;
}

.about {
  text-align: left !important;
}

.footer {
  padding: 1px;
  color: whitesmoke;
  background-color: rgb(34, 84, 219);
  /* position: absolute;
  width: 100%;
  bottom: 0; */
}

@media only screen and (max-width: 600px) {
  /* body {
    height: 100vh;
  }
  .footer{
    width: 100vh;
    bottom: 0;
    position: absolute;
  } */
  .container {
    width: 100vh;
    min-height: 100vh;
    position: relative;
  }
  .itemImg {
    width: 100vh;
  }
}